.header{   
    max-height: 100px;
}
.fundo-header{
    background-color:#EDEDED;
}

.header ul {	
	margin:0px;
	background-color:#EDEDED;
	list-style:none;  
    display: flex;  
    justify-content: center;
    padding: 10px;        
}

ul li{
    padding: 20px;
}

a:link {
    text-decoration: none;
}

.max-width-800 {
    padding: 20px 40px;
    background-color:#EDEDED;
    max-width: 800px;
}
.tabela td{
    background-color:#FFF;   
}

.border-1:hover{
    border: 0.4px solid #000;    
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5 );
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-2{
    background-color: #FFF;
    width: 40%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #988b7a;
}
.hide{
    display: none;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.hide .modal-2{
    animation: modal .3s;
}